a {
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  /* Sticky Navbar */
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0));;
}
.nav-background {
  background-image: linear-gradient(rgb(7, 7, 7), rgb(20, 20, 20));
  animation-name: easeIn;
  animation-duration: 1s;
}
.nav img {
  height: 30px;
  cursor: pointer;
}

.nav-left,
.nav-right,
.accounts-menu {
  display: flex;
  align-items: center;
}

.nav-contents {
  margin: 0 50px;
}
.nav-items {
  margin-right: 20px;
  font-size: 15px;
}

.nav-icon {
  color: white;
  font-size: 26px !important;
}
.nav-right > .nav-icon {
  margin-right: 30px;
}
.accounts-menu {
  cursor: pointer;
}
.accounts-menu img {
  border-radius: 4px;
}
.accounts-menu svg {
  font-size: 20px;
}


@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}