.banner {
  margin: 0px;
  box-shadow: 0px -100px 1000px black inset;
  color: white;
}
.background-video {
  position: relative;
  width: 100vw;
  background-size: cover;
  object-fit: contain;
  z-index: -100;
}
